<p style="color: green"><%= notice %></p>
<h1>List of all users</h1>
<div id="users">
  <% @users.each do |user| %>
    <%= render 'partials/users' %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>