/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

t* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(230, 218, 218);
}

.home {
  display: flex;
  border-bottom: 2px solid rgb(82, 85, 82);
  justify-content: space-between;
  margin: 30px;
}

.navbar-button {
  text-decoration: none;
  color: #f8efef;
  font-size: 20px;
  background-color: rgb(54, 163, 167);
  padding: 10px;
}

.button {
  justify-content: flex-end;
  text-decoration: none;
  color: #f8efef;
  font-size: 20px;
  background-color: rgb(58, 172, 162);
  margin: 10px;
}

.page-title {
  font-size: 40px;
  color: rgb(23, 157, 161);
}